html
  head
    title FACEBOOK&#x767B;&#x5165;&#x7BC4;&#x4F8B;
  body
    script.
      window.fbAsyncInit = function () {
      FB.init({
      appId: "Your appID",
      cookie: true,
      xfbml: true,
      version: "Your app use API version"
      });
      FB.AppEvents.logPageView();
      FB.getLoginStatus(function (response) {
      console.log('This is a FB response', response);
      });
      };
      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "Your APP src URL";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, "script", "facebook-jssdk"));
    |   
    #fb-root
    |   
    .fb-login-button(data-size="large", data-button-type="login_with", data-show-faces="false", data-auto-logout-link="false", data-use-continue-as="false")
